@page  
@model IndexModel
@{
    ViewData["Title"] = "Välkommen";
}
@if (Model.Error)
{

}
else
{
    <div class="d-flex flex-wrap justify-content-lg-around">
        @foreach (var product in Model.Products)
        {
            <span class="border">@product.ProductName</span>

        }
    </div>
}



@*<div class="bg-white my-auto card card-block">
        <div class="d-flex justify-content-lg-center">Under jäsning..</div>
        <div class="d-flex justify-content-center">Färdig den 2/4 men vi smyglanserar inom kort.</div>
        <div class="d-flex justify-content-center">Välkommen åter!</div>
        <div class="d-flex justify-content-lg-center" id="brand-font">Bakdelar.se</div>
        <div class="d-flex justify-content-center" id="slogan-font">Att få söta saker att hända.</div>
    </div>*@